@font-face {
  font-family: 'MyWebFont';
  src: url("Gotham-Font/GothamBook.ttf") format("truetype"), url("Gotham-Font/GothamBook.eot") format("embedded-opentype"), url("Gotham-Font/GothamBook.woff") format("woff");
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.3em;
  font-weight: bold;
  color: #474747;
}

.App {
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'MyWebFont';
  height: 100vh;
}

.form-header {
  margin: 1.7em 0;
  margin-bottom: 3em;
}

.form-header p {
  margin: 0 0.2em;
  color: #b1b1b1;
  font-size: 1.1rem;
  letter-spacing: -0.8px;
}

.signInBox {
  width: 400px;
  min-height: 400px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 #e1e1e1, 0 6px 20px 0 #e1e1e1;
          box-shadow: 0 4px 8px 0 #e1e1e1, 0 6px 20px 0 #e1e1e1;
  padding: 2.3em;
}

img {
  margin-top: 0.9em;
  width: 120px;
}

.email {
  display: -ms-grid;
  display: grid;
}

.email label {
  margin: 0em 0.2em;
  color: #888888;
  letter-spacing: -0.7px;
}

.email input {
  border-radius: 0.5em;
  margin-top: 0.3em;
  padding: 1em;
  border: solid 1px #e1e1e1;
  font-size: 1rem;
  color: #474747;
}

.rememberMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.6em -0.15em;
}

.rememberMe input {
  height: 1.5em;
  width: 1.5em;
  border-radius: 2em;
  border: solid 1px #e1e1e1;
  margin: -0.4em;
  position: absolute;
  opacity: 0;
}

.rememberMe label {
  color: #888888;
  margin: 0 0.5em;
  margin-top: 8px;
  font-size: 0.8em;
}

.rememberMe input + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.rememberMe input + label:before {
  content: '';
  margin-right: 10px;
  margin-left: -4px;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

.rememberMe input:focus + label:before {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.rememberMe input:checked + label:before {
  background: #289ddf;
  border: 1px solid #289ddf;
}

.rememberMe input:checked + label:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 10px;
  background: white;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
          box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

button {
  background-color: white;
  color: #474747;
  padding: 0.9em 2.1em;
  border-radius: 0.5em;
  margin-top: 2em;
  border: solid 1px #e1e1e1;
  font-family: 'MyWebFont';
  font-size: 1em;
  display: inline-block;
}

button:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

@media (max-width: 600px) {
  .form-header {
    margin: 2em 0;
  }
  .form-header p {
    margin: 0;
  }
  .email label {
    font-size: 0.7rem;
  }
  .rememberMe label {
    font-size: 0.7rem;
  }
  .signInBox {
    padding: 1.8em;
    min-height: 0;
  }
  h1 {
    font-size: 1.5em;
  }
  button {
    margin-top: 1.5em;
  }
}
/*# sourceMappingURL=App.css.map */