@font-face {
  font-family: 'MyWebFont';
  src:  url('Gotham-Font/GothamBook.ttf'),
        url('Gotham-Font/GothamLight.ttf');
}

$extra-light:  #f0f0f0;
$light:  #e1e1e1;
$medium-light:  #b1b1b1;
$medium-dark:  #888888;
$dark:  #474747;
$button: #289ddf;

h1{
  font-size: 2rem;
  margin-bottom:0.3em;
  font-weight: bold;
  color:$dark;
}

.App {
  background-color: $extra-light;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'MyWebFont';
  height:100vh;
}


.form-header{

  margin: 1.7em 0;
  margin-bottom: 3em;
  p{
    margin:0 0.3em;
    color: $medium-light;
    font-size: 1.03rem;  
    letter-spacing: -0.8px;
  }

}

.signInBox{
  width: 400px;
  min-height:400px;
  background-color:white;
  box-shadow: 0 4px 8px 0 $light, 0 6px 20px 0 $light;
  padding: 2.3em;
}

img{
  margin-top: 0.9em;
  width: 120px;
}

button{
  background-color: white;
  color:$dark;
  padding: 0.9em 2.1em;
  border-radius: 0.5em;
  margin-top: 2em;
  border: solid 1px $light;
  font-family: 'MyWebFont';
  font-size:1em;
  display: inline-block;
    &:hover{
      cursor:pointer;
      background-color: $extra-light;

    }
}
.email{
  display:grid;
    label{
      margin: 0em 0.2em;
      color:$medium-dark;
      letter-spacing: -0.7px;
    }
    input{
      border-radius:0.5em;
      margin-top:0.3em;
      padding: 1em;
      border: solid 1px $light;
      font-size:1rem; 
      color:$dark; 
    }

}

.rememberMe{
  display: flex;
  align-items:center;
  margin: 0.6em -0.15em;

  input{
  height:1.5em;
  width:1.5em;
  border-radius: 2em;

  border: solid 1px $light;
  margin: -0.4em;

  }
  label{
    color:$medium-dark;
    margin:0 0.5em;
    margin-top: 8px;
    font-size: 0.8em
  }

  input {
    position: absolute;
    opacity: 0;
  }
  input + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    &:before {
      content: '';
      margin-right: 10px;
      margin-left: -5px;
      margin-top:-3px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
      border:1px solid #cbcdcc;
      border-radius:4px;
    }
  }
  

  input:focus + label:before {
    box-shadow: none;
  }
  input:checked + label:before {
    background: $button;
    border:1px solid $button;
  }
  input:checked + label:after {
    content: '';
    position: absolute;
    margin-left: -5px;
    left: 6px;
    top: 10px;
    background: white;
    width: 2px;
    height: 2px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

}


@media (max-width:600px){
  .form-header{
    margin:2em 0;

    p{
      margin:0;
    }
  }

  .email{
    label{
      font-size: 0.7rem;
    }
  }

  .rememberMe{
    label{
      font-size: 0.7rem;
    }
  }

  .signInBox{
    padding: 1.8em;
    min-height: 0;
  }

  h1{
    font-size: 1.5em;
  };

  button{
    margin-top: 1.5em;
  }
  
}